/* 브라우저 개발용 화면 */
.kiosk_viewport {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  overflow: auto;

  background: #222224;
}

/* 실제 키오스크 화면 */
.kiosk_wrap {
  --kiosk-scale: 0.5;

  width: 1080px;
  min-height: 1920px;

  background: var(--color-white);

  display: flex;
  flex-direction: column;

  transform: scale(var(--kiosk-scale));
  transform-origin: top center;

  flex-shrink: 0;
}
