# process.env.PORT, process.env.REACT_APP_API_URL 로 사용하시면 됩니다
# scac-admin, scac-front 프로젝트 최상위에 만들어주세요

# scac-front/admin
PORT=포트번호
REACT_APP_API_URL=http://localhost:api포트번호
REACT_APP_TOSS_CLIENT_KEY=토스_테스트_클라이언트_키


# scac-back
DB_URL=jdbc:mysql://db주소
DB_USERNAME=아이디
DB_PASSWORD=비밀번호
JWT_SECRET=여기에_충분히_긴_랜덤_문자열
TOSS_SECRET_KEY=토스_테스트_시크릿_키

SOLAPI_API_KEY=
SOLAPI_API_SECRET=
SOLAPI_SENDER_NUMBER=
NOTIFICATION_ENABLED=false