/* ==========================
   Payment Method
========================== */

.payment_method_box {
  position: relative;

  width: 900px;
  min-height: 1500px;

  margin: 140px auto 0;
  padding: 130px 50px 170px;

  box-sizing: border-box;

  background-color: var(--color-pay-white);
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-md);

  color: var(--color-text);
}

/* ==========================
   close btn
========================== */
.payment_method_box .btn_close {
  position: absolute;
  top: 32px;
  right: 32px;

  width: 72px;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;

  background: transparent;

  color: var(--color-btn-cancel-text);

  font-size: 108px;
  line-height: 1;

  cursor: pointer;
}

.payment_method_box .btn_close:hover {
  background-color: var(--color-normal);
}

.payment_method_box .btn_close:active {
  transform: scale(0.94);
}

/* ==========================
   Title
========================== */

.payment_method_title {
  margin: 0;

  text-align: center;

  font-size: 64px;
  font-weight: var(--font-bold);
  line-height: 1.2;

  color: var(--color-text);
}

.payment_method_text {
  margin: 20px 0 160px;

  text-align: center;

  font-size: 28px;
  font-weight: var(--font-regular);
  line-height: 1.4;

  color: var(--color-text-light);
}

/* ==========================
   Payment Icon Circle
========================== */

.payment_method_icon {
  grid-column: 1;
  grid-row: 1 / 3;

  width: 126px;
  height: 126px;

  padding: 28px;
  background: #91c6bc;

  box-sizing: border-box;

  border-radius: 50%;

  object-fit: contain;
}
.toss {
  font-size: 64px;
  text-align: center;
}

/* ==========================
   Text
========================== */

.payment_card {
  grid-column: 2;
  grid-row: 1;

  align-self: end;

  font-size: 48px;
  font-weight: var(--font-bold);
  line-height: 1.2;
}

.payment_detail {
  grid-column: 2;
  grid-row: 2;

  align-self: start;

  margin-top: 10px;

  font-size: 24px;
  font-weight: var(--font-regular);
  line-height: 1.4;
}

/* ==========================
   Arrow
========================== */

.payment_method_next {
  grid-column: 3;
  grid-row: 1 / 3;

  width: 52px;
  height: 52px;

  justify-self: end;

  object-fit: contain;
}

/* ==========================
   Payment Button Common
========================== */

.payment_btn {
  position: relative;

  width: 100%;
  height: 260px;

  display: grid;
  grid-template-columns: 126px 1fr 64px;
  grid-template-rows: auto auto;
  align-items: center;
  column-gap: 28px;

  padding: 36px 42px;

  box-sizing: border-box;

  border: 1px solid rgb(75 157 169 / 15%);
  border-radius: 18px;

  /* background-color: #e3f2ef; */

  background: #f2f9f7;
  border: 2px solid #d9ebe7;

  color: var(--color-text);

  text-align: left;
  cursor: pointer;

  box-shadow: var(--shadow-md);

  transition:
    transform 0.2s ease,
    border-color 0.2s ease,
    background-color 0.2s ease,
    box-shadow 0.2s ease;
}

.payment_btn + .payment_btn {
  margin-top: 60px;
}

.payment_btn:hover {
  transform: translateY(-4px);

  border-color: var(--color-primary);
  background-color: #cfe7e2;

  box-shadow: var(--shadow-lg);
}

.payment_btn:active {
  transform: translateY(0);

  background-color: var(--color-sub);

  box-shadow: var(--shadow-sm);
}

.payment_btn .payment_method_icon {
  background-color: var(--color-pay-mint);
}

.payment_btn .payment_card,
.payment_btn .payment_detail {
  color: var(--color-text);
}
