# process.env.PORT, process.env.REACT_APP_API_URL 로 사용하시면 됩니다
# scac-admin 프로젝트 최상위에 만들어주세요

# scac-front/admin
PORT=포트번호

# 다른 기기에서도 관리자페이지를 사용할 것이라면 HOST=0.0.0.0를 추가하고 REACT_APP_API_URL는 주석처리하시면 됩니다

REACT_APP_API_URL=http://localhost:api포트번호

# 다른 기기에서 접속할 경우
# HOST=0.0.0.0
